<div xmlns="http://www.w3.org/1999/xhtml" class="modal fade" id="downloadModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content" data-template="app-shared:if-not-matches" data-template-key="lang" data-template-value="de">
            <div class="modal-header">
                <h3 class="modal-title" id="myModalLabel">Download options</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&#215;</span></button>
            </div>
            <div class="modal-body">
            	<p>The legal successors have not allowed the download of the research data you requested.</p>
            </div>
            <!--<div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>-->
        </div>
        <div class="modal-content" data-template="app-shared:if-matches" data-template-key="lang" data-template-value="de">
            <div class="modal-header">
                <h3 class="modal-title" id="myModalLabel">Download Optionen</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&#215;</span></button>
            </div>
            <div class="modal-body">
            	<p>Die Rechtsnachfolge hat den Download der von Ihnen angeforderten Forschungsdaten nicht gestattet.</p>
            </div>
            <!--<div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>-->
        </div>
    </div>
</div>